<hr>
<div>{{productItem.name}}</div>
<div>{{productItem.in_potential_products}}</div>
<div>{{productItem.asin}}</div>
<div>{{productItem.price}}</div>
<div>{{productItem.weight}}</div>
<div>{{productItem.updated_at}}</div>
<div>{{productItem.shipping_weight}}</div>
<div>{{productItem.domain}}</div>
<div>{{productItem.votes_count}}</div>
<div>{{productItem.daily_cashflow}}</div>
<div>{{productItem.currency}}</div>
<img [src]=productItem.img>
<div>{{productItem.daily_sales}}</div>
<div>{{productItem.stars}}</div>
<div>{{productItem.bsr_value}}</div>
<div>{{productItem.brand_class}}</div>
<div *ngFor="let s of productItem.size">{{s}}</div>
<div>{{productItem.link}}</div>
<div>{{productItem.bsr_category}}</div>
<div>{{productItem.brand}}</div>
<hr>

<!--
in_potential_products: boolean,
asin: string,
price: number,
weight: number,
updated_at: number,
name: string,
shipping_weight: number | null,
domain: string,
votes_count: number,
daily_cashflow: number,
currency: string,
img: string,
daily_sales: number,
stars: number,
bsr_value: number,
brand_class: string | null,
size: number[],
link: string,
bsr_category: string,
brand: string-->
